<div class="bg-card p-3 rounded shadow m-3 w-100 position-relative">
    <h2>Discord Webhook</h2>
    <span class="position-absolute top-0 end-0 p-1">
        <button hx-get='transmitter/{{.ID}}' hx-swap="outerHTML" hx-trigger="click"
            hx-target="closest div" class="btn btn-secondary">Refresh</button>
        <button hx-delete="transmitter/{{.ID}}" hx-swap="outerHTML" hx-trigger="click" hx-target="closest div"
            hx-confirm="Are you sure you want to delete this transmitter?" class="btn btn-danger">Delete</button>
    </span>
    <div>
        <div>Transmit Count: <span hx-get="transmitter/{{.ID}}/count" hx-swap="innerHTML" hx-trigger="load, every 5s"></span></div>
        <div>Default Username: {{.Username}}</div>
        <style>
            .hide-discord-webhook {
                background-color: black;
            }
            .hide-discord-webhook > * {
                opacity: 0;
            }
            .hide-discord-webhook:hover {
                background-color: transparent;
            }
            .hide-discord-webhook:hover > * {
                opacity: 1;
            }
        </style>
        <div class="text-break">Webhook URL: <span class="hide-discord-webhook"><span style="word-wrap: break-word">{{.DiscordURL}}</span></span></div>
        <div class="form-switch">
            <input class="form-check-input" hx-put="transmitter/{{.ID}}/status" hx-trigger="click"
            type="checkbox" name="active" id="active" {{.Status}}>
            <label for="active" class="form-check-label">Active</label>
        </div>
    </div>

</div>